@import "colors";
.cart {
  display: flex;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  flex: 9;
}

.empty-cart-message {
  text-align: center;
  font-size: 45px;
  color: $medium-gray;
  line-height: 45px;
}