@import "colors";

.checkout-container {
  margin: 40px;
}

.server-error {
  background-color: $grapefruit;
  color: $light-gray;
  transition: all 0.2s ease;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  display: none;
  position: fixed;
  padding: 10px;

  &.active-error {
    opacity: 1;
  }
}