$dark-gray: #656d78;
$dark-gray-active: #434a54;
$grapefruit: #ed5565;
$grapefruit-active: #da4453;
$grass: #a0d468;
$grass-active: #8cc152;
$lavander: #ac92ec;
$lavander-active: #967adc;
$light-gray: #f5f7fa;
$light-gray-active: #e6e9ed;
$medium-gray: #ccd1d9;
$medium-gray-active: #aab2bd;
$white: #ffffff;
