@import "colors";

.discounts__type-selector {
  width: 100%;
}

.discounts {
  width: 100%;
}

.discounts__inputs {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;

  .discounts__input-container {
    margin: 0 5px;
  }
}

.discounts__input-text {
  padding: 0;
  width: 50px;
}

.discounts__input-label {
  text-transform: uppercase;
  font-size: 11px;
  padding: 0 0 0 5px;
}

.discounts__input {
  background: none;
  border: 1px solid;
  text-align: center;
  font-size: 14px;
  color: #eee;
  border-radius: 5px;
  outline: none;
  padding: 5px 15px;

  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    color: $light-gray;
    font-style: italic;
    font-weight: 200;
  }
}

.discounts__error {
  background-color: $grapefruit;
  margin: 10px 5px;
  border-radius: 5px;
  padding: 5px;
  display: none;

  &.active-error {
    display: block;
  }
}