@import 'colors';
body {
  background-color: $light-gray;
  color: $dark-gray;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: $light-gray;
  font-size: 11px;
  padding: 10px;
}

a {
  color: $dark-gray;

  &:visited {
    color: $dark-gray;
  }

  &:hover {
    background-color: $dark-gray;
    color: $light-gray;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: $grass;
}

.field-with-errors {
  background-color: $grapefruit;
  display: table;
  padding: 2px;
}

.error-explanation {
  background-color: $light-gray;
  border: 2px solid $grapefruit;
  margin-bottom: 20px;
  padding: 7px 7px 0;
  width: 450px;

  h2 {
    background-color: $grapefruit;
    color: $light-gray;
    font-size: 12px;
    font-weight: bold;
    margin: -7px -7px 0;
    padding: 5px 5px 5px 15px;
    text-align: left;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
