@import 'colors';
.search-bar {
  height: 60px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  border: solid 2px $lavander-active;
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
}

.search-bar__query {
  font-size: 30px;
  color: $dark-gray-active;
  flex: 5;
  padding: 0 20px;
  border: none;
  outline: none;
  font-weight: 300;

  &::-webkit-input-placeholder {
    color: $medium-gray;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $medium-gray;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: $medium-gray;
  }

  &:-ms-input-placeholder {
    color: $medium-gray;
  }
}

.search-bar__quantity {
  font-size: 30px;
  border: none;
  padding: 0 15px;
  flex: 1;
  max-width: 50px;
  border-left: solid 2px $lavander;
  border-right: solid 2px $lavander;
  font-weight: 200;
  color: $dark-gray-active;
}

.search-bar__submit {
  flex: 1;
  background-color: $grass-active;
  border: none;
  outline: none;
  font-size: 30px;
  cursor: pointer;
  color: $light-gray;
  transition: all 0.2s ease;

  &:hover {
    background-color: $grass;
  }
}

.autosuggestions {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 80%;
  max-width: 750px;
}

.autosuggestion {
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  background-color: $white;
  border: solid 1px $medium-gray;
  cursor: pointer;

  &:hover {
    background-color: $light-gray-active;
  }
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 750px;
  padding: 0 25px 0 0;
  height: 105px;
}

.search-bar__error {
  background-color: $grapefruit;
  color: $light-gray;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0;
  width: fit-content;
  transition: all 0.2s ease;
  top: -50px;
  position: relative;
  z-index: -1;

  &.active-error {
    top: 0;
  }
}